.main{
  background-color: #f8f8f8;
  background-image: image-url('title-content.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title{
  font-size: 8vh;
}

.service-explain{
  font-size: 2.5vh;
  line-height: 40px;
}

.store-bth{
  display: flex;
  margin-top: 24px;
}

.apple-btn{
  margin-right: 1vw;
  height: 9vh;
}

.google-btn{
  height: 9vh;
}
/* //画面上部の「最高のアプリ」帯部分 */

/* Sunnyが選ばれる3つの理由部分 */
.select-reason-contents{
  padding: 5vh 15vw;
  color: white;
}

.select-reason-contents>.title{
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after{
  content: '';
  width: 70px;
  height: 4px;
  background-color: #22aaaf;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list{
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict{
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #00a7db;
  color: #fff;
}

.reason-list-text{
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-description{
  font-size: 18px;
  margin-top: 20px;
}
/* //Sunnyが選ばれる3つの理由部分 */

.famous-index{
  padding: 5vh 0 5vh 3vw;
  color: white;
  background-color: #97d5fc;
}

.famous-index>.title{
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
}

.celebs-lists{
  display: flex;
  flex-wrap: wrap;
}

.celebs-lists>.list{
  display: flex;
  margin-right: 4vw;
  margin-bottom: 5vh;
}

.celeb-contents{
  display: flex;
  width: 28vw;
}

.celeb-content{
  margin-left: 10px;
}

.celeb-description{
  font-size: 15px;
}

.celeb-image{
  height: 120px;
  width: 180px;
}
