*{
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents{
  text-align: center;
  margin: 0 auto;
}

.sunny-icon{
  width: 16vw;
}

.nav{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 0 0 0;
}

.lists-left{
  display: flex;
  min-width: 200px;
  align-items: center;
}

.lists-right{
  display: flex;
  align-items: center
}

h1{
  font-size: 12px;
}

.signup{
  margin-left: 5px;
}

.login{
  margin-left: 10px;
  text-decoration: none;
}

.login:link ,:visited {
  color: black;
}

.login:hover{
  color: blue;
  text-decoration:underline;
}


