#chats{
  padding: 20px 10px;
  max-width: 100vw;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 550px;
  width: 50vw;
  border-radius: 8px;
}

.room-show-main{
  overflow-x: hidden;
}

.fukidasi1{
  width: 100%;
  margin: 10px 0;
}

.name1{
  font-size: 20px;
  margin-left: 10px;
  padding: 3px;
}

.fukidasi1 .faceicon1{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.img1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.first-chat{
  text-align: center;
  color: azure;
  font-size: 22px;
  padding-top: 20px;
}

.fukidasi{
  width: 100%;
  margin: 10px 0;
}

.fukidasi .faceicon{
  float: left;
  margin-right: -50px; 
}

.fukidasi .faceicon .img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fukidasi .chatting {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.says p {
  margin: 0;
  padding: 0;
}

.created_at{
  
}

.mycomment{
  margin: 10px 0;
}

.mycomment p{
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.mycomment p:after{
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}


.send-form{
  display: flex;
  justify-content: center;
}

.send-form-content{
  resize: none; 
  width: 35vw;
  display: inline-block;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 20px; 
  border-radius: 8px;
  line-height: 30px;
  height: 45px;
} 

.submit{
  background-color: #7da4cd;;
  border-radius: 20%;
  font-size: 16px;
  width: 80px;
}

.send-form-blue{
  display: flex;
}
