<div class= 'main'>
  <div class= 'content'>
    誰とでも有名人と繋がれるサイト
  </div>

  <div class= 'famous_index'>
    有名人一覧
  </div>

  <div class= 'admin'>
    <% if user_signed_in? && current_user.admin?  %>
      <%= link_to '有名人の作成', new_celeb_path %>
    <% end %>
  </div>
</div>
