<%= render "shared/second-header" %>
<meta http-equiv="refresh" content=" 5; url=../">

<div class="thank">
  <h2>お問い合わせいただきありがとうございました。</h2>
  <p>今後も弊社のアプリをお楽しみください。</p>
  <p class="five-second"><span>5秒後</span>にトップページに自動遷移します</p>
</div>
 

<%= render "shared/second-footer" %>