.user-show-main{
  display: flex;
  width: 100%;
  height: 500px;
}

/* left-bar */

.left-bar{
  width: 35vw;
  background-color:  #00bfff;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 18px;
}

.user-show-profile{
  display: flex;
  align-items: center;
  margin: 10px 0 10px 40px;
}

.user-show-img{
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.user-name{
  margin-left: 20px;
}

.card-info{
  margin-left: 40px;
}

.card-info .Card_title{
  background-color: #f0f8ff;
  border-radius: 12px;
  text-align: center;
}

.Card_info{
  text-align: center;
  margin-top: 5px;
}

.left-bar h2{
  position: relative;
  padding: 0.5em 0.7em;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
  font-size: 20px;
  border-radius: 18px;
}

.left-bar h2:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}


/* center-bar */

.center-bar{
  width: 35vw;
  background-color: #87cefa;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  border-radius: 18px;
}

.center-bar h2{
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
  font-size: 20px;
  border-radius: 18px;
}

.center-bar h2:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}

.user-comment-list{
  margin: 0 0 5vh 5vw;
}

.user-comment{
  display: flex;
  align-items: center;
}

.chat-room-name{
  margin: 0 10px;
  text-decoration: none;
}

.chat-room-name:hover{
  color: blue;
  text-decoration:underline;
}

/* right-bar */

.right-bar{
  width: 30vw;
  background-color: #66cfff;
  border-radius: 18px;
}

.right-bar h2{
  position: relative;
  padding: 0.5em 0.7em;
  background: #e6f4ff;
  color: #5c98d4;
  font-weight: bold;
  font-size: 20px;
  margin: 2em 0;
  border-radius: 18px;
}

.right-bar  h2:after{
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e6f4ff;
  width: 0;
  height: 0;
}
